# compiled output
/dist
/build
/tmp
/backup
/out-tsc
.VSCodeCounter
apps/**/yarn.lock
# Private keys
**/*vsix

# dependencies
**/node_modules
config.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.nx
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/*.tar

# System Files
.DS_Store
.npmrc
Thumbs.db
globalConfig.json
report.*.json

# tools/security
tools/security/*pem
.gitsecret/keys/random_seed

# React Native

## Xcode

**/ios/**/build/
**/ios/**/*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

## Android

**/android/**/build/
**/android/**/.gradle
**/android/**/local.properties
**/android/**/*.iml

## BUCK

buck-out/
\.buckd/
*.keystore
!debug.keystore

## fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/
#
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

## Bundle artifact
*.jsbundle

## CocoaPods
**/ios/Pods/
/

apps/**/artifacts
.config
/.*rc
!/.auto-config-testrc
!/.prettierrc
!/.entity-creationrc
e2e/hass/config
!/.scene-managerrc
!/.pino-prettyrc
/.storage
docker/homeassistant/config
docker/homeassistant/config
bin/


.nx/cache
review.zip
dynamic.d.ts
fixtures.json
hass/config/.HA_VERSION
hass/config/automations.yaml
hass/config/configuration.yaml
hass/config/home-assistant_v2.db
hass/config/home-assistant_v2.db-shm
hass/config/home-assistant_v2.db-wal
hass/config/home-assistant.log
hass/config/home-assistant.log.1
hass/config/home-assistant.log.fault
hass/config/scenes.yaml
hass/config/scripts.yaml
hass/config/secrets.yaml
hass/config/.storage/assist_pipeline.pipelines
hass/config/.storage/auth
hass/config/.storage/auth_provider.homeassistant
hass/config/.storage/bluetooth.passive_update_processor
hass/config/.storage/core.analytics
hass/config/.storage/core.area_registry
hass/config/.storage/core.config
hass/config/.storage/core.config_entries
hass/config/.storage/core.device_registry
hass/config/.storage/core.entity_registry
hass/config/.storage/core.floor_registry
hass/config/.storage/core.label_registry
hass/config/.storage/core.restore_state
hass/config/.storage/core.uuid
hass/config/.storage/frontend.user_data_4dd1cf7e93e94f3fbaf419501f9a3d59
hass/config/.storage/homeassistant.exposed_entities
hass/config/.storage/http
hass/config/.storage/http.auth
hass/config/.storage/lovelace_dashboards
hass/config/.storage/lovelace.map
hass/config/.storage/map
hass/config/.storage/onboarding
hass/config/.storage/person
hass/config/.storage/repairs.issue_registry
hass/config/blueprints/automation/homeassistant/motion_light.yaml
hass/config/blueprints/automation/homeassistant/notify_leaving_zone.yaml
hass/config/blueprints/script/homeassistant/confirmable_notification.yaml
hass/config/custom_components/synapse/__init__.py
hass/config/custom_components/synapse/app_update.py
hass/config/custom_components/synapse/binary_sensor.py
hass/config/custom_components/synapse/button.py
hass/config/custom_components/synapse/const.py
hass/config/custom_components/synapse/health_sensor.py
hass/config/custom_components/synapse/manifest.json
hass/config/custom_components/synapse/platform.py
hass/config/custom_components/synapse/scene.py
hass/config/custom_components/synapse/sensor.py
hass/config/custom_components/synapse/services.yaml
hass/config/custom_components/synapse/switch.py
hass/config/custom_components/synapse/__pycache__/__init__.cpython-312.pyc
hass/config/custom_components/synapse/__pycache__/binary_sensor.cpython-312.pyc
hass/config/custom_components/synapse/__pycache__/button.cpython-312.pyc
hass/config/custom_components/synapse/__pycache__/const.cpython-312.pyc
hass/config/custom_components/synapse/__pycache__/health_sensor.cpython-312.pyc
hass/config/custom_components/synapse/__pycache__/platform.cpython-312.pyc
hass/config/custom_components/synapse/__pycache__/scene.cpython-312.pyc
hass/config/custom_components/synapse/__pycache__/sensor.cpython-312.pyc
hass/config/custom_components/synapse/__pycache__/switch.cpython-312.pyc
test.d.ts
